[gpg]
	format = ssh
[commit]
	gpgsign = true
[user]
	signingkey = ~/.ssh/id_ed25519.pub
	email = barlevalon@users.noreply.github.com
  name = Alon Hearter
[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = master
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[core]
  pager = delta
  editor = nvim
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[log]
	date = local
[url "git@github.com:"]
	insteadOf = https://github.com/
