@import "/home/alon/.config/wofi/style.css";

/* Power menu specific overrides */
* {
  font-size: 24px !important;
}

#entry {
  padding: 8px 15px;
  margin: 2px 0;
}

#text {
  font-size: 24px !important;
  margin: 5px 10px;
}