# Base16 {{scheme-name}} - Hyprlock Theme
# Author: {{scheme-author}}

$color = rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},1.0)

$inner_color = rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.8)
$outer_color = rgba({{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}},1.0)

$font_color = rgba({{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}},1.0)

$placeholder_color = rgba({{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}},0.6)
$check_color = rgba({{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},1.0)