/* Base16 {{scheme-name}} - Walker Theme
 * Author: {{scheme-author}}
 */

@define-color selected-text #{{base0D-hex}};
@define-color text #{{base05-hex}};
@define-color base #{{base00-hex}};
@define-color border #{{base05-hex}};
@define-color foreground #{{base05-hex}};
@define-color background #{{base00-hex}};