/* Base16 {{scheme-name}} - SwayOSD Theme
 * Author: {{scheme-author}}
 */

@define-color background-color #{{base00-hex}};
@define-color border-color #{{base05-hex}};
@define-color label #{{base05-hex}};
@define-color image #{{base05-hex}};
@define-color progress #{{base0D-hex}};